<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Twitter Signup</title>
</head>
<body>
    <div class="login-box">
        <h1 class="login-title">Signup</h1>
        <%- include('partials/messages') %>
        <form action="/signup" method="post">
            <div class="field-holder">
                <label for="name">Username</label>
                <input name="name" id="name" type="text" required>
            </div>

            <div class="field-holder">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" required>
            </div>
    
            <div class="field-holder">
                <label for="password">password</label>
                <input name="password" id="password" type="password" required>
                <p class="ps-hint">password should be at least 6 character long</p>
            </div>
            
    
            <div class="field-holder">
                <label for="password2">Enter password again</label>
                <input name="password2" id="password2" type="password" required>
            </div>

            <button type="submit">Signup</button>
            <p class="new-acc">Already have account? <a href="/login">Login</a></p>
        </form>

    </div>
</body>
</html>
